/* Общий стиль для фона */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* Цвет для всей страницы */
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5; /* Тот же фон, что и у приложения */
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff; /* Белый фон внутри приложения */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для выделения */
}

/* Заголовок */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black; /* Черный цвет текста */
}

/* Игровое поле */
.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.cell {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: black; /* Черный цвет текста  */
}

/* Клавиатура */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.keyboard-line {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.key {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Черный цвет текста */
}

.key.large-key {
  width: 80px; /* Увеличенная ширина для кнопки Enter */
}

.key:hover {
  background-color: #bbb;
}
